<div>
  <button mat-mini-fab color="accent" (click)="goBack()" style="margin: 10px">
    <mat-icon>arrow_back</mat-icon>
  </button> 
  
  <button mat-raised-button color="accent" (click)="onButtonClick()" style="margin: 10px">
    <mat-icon>add</mat-icon> Add Plant
  </button>
</div>

<div *ngIf = "plants != undefined">
    <div *ngIf="plants.length > 0;else noplants">
    </div>
  
    <ng-template #noplants>
      <hr>
      <h5>There are no plants to list, add one to get started!</h5>
    </ng-template>
</div>
  
  <mat-grid-list cols="{{plants.length/2}}" rowHeight="50%"  style="max-width: 100%; " >
    <mat-grid-tile *ngFor = "let plant of plants">
        <mat-card (click)="onButtonClick()" style="width: 50%;"> 
            <mat-card-header>
                <mat-card-title>{{plant.Name}}</mat-card-title>
            </mat-card-header> 
            
            <mat-card-content>
              <ul>
                <li>Message : {{plant.Message}}</li>
                <br>
                <li>Temperature : {{plant.Temperature}}</li>
                <li>MinTemperature : {{plant.MinTemperature}}</li>
                <li>MaxTemperature : {{plant.MaxTemperature}}</li>
                <br>
                <li>Light : {{plant.Light_Intensity}}</li>
                <li>MinLumens : {{plant.MinLumens}}</li>
                <li>MaxLumens : {{plant.MaxLumens}}</li>
                <br>
                <li>Humidity : {{plant.Humidity}}</li>
                <li>MinHumidity : {{plant.MinHumidity}}</li>
                <li>MaxHumidity : {{plant.MaxHumidity}}</li>
                <br>
                <li>Soil_Humidity : {{plant.Soil_Humidity}}</li>
                <li>MinSoilHumidity : {{plant.MinSoilHumidity}}</li>
                <li>MaxSoilHumidity : {{plant.MaxSoilHumidity}}</li>
              </ul>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<br>