<mat-toolbar color="primary">
  <mat-icon>spa</mat-icon>
  <span style="padding-left: 1vw">PlantSitter</span>

  <!-- Leander -->
  <nav>
    <ul>
      <li><a routerLink="/greenhouse-path" routerLinkActive="active">Greenhouses</a></li>
      <li><a routerLink="/plant-path" routerLinkActive="active">Plants</a></li>
    </ul>
  </nav>


   <!-- Leander -->


  <div *ngIf="auth.user$ | async as user; else login" class="login-container">

    <div class="user-photo" style="background-image: url({{ user.photoURL }})"></div>

    <span class="user-name">{{ user.displayName }}</span>

    <button mat-raised-button color="secondary" (click)="auth.signOut()">
      Sign out
    </button>

  </div>

</mat-toolbar>

<!--div *ngIf="auth.user$ | async as user">
  <pre>{{ user | json }}</pre>
</div-->

<ng-template #login>
  <div class="login-container">
    <button mat-raised-button color="secondary" (click)="auth.googleSignin()">
      Sign in with Google
    </button>
  </div>
  
</ng-template>

<router-outlet></router-outlet>

<!-- <app-greenhouse-page></app-greenhouse-page>
<app-plant-page></app-plant-page> -->